$font-size-home: 70px;
.back-home {
  background: url(../images/background-home.png);
  background-size: cover;
  background-position: right center;
  height: 100vh;
  color: white !important;
  width: 100%;
}
.banner {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 4.67%;
  margin-top: 50.54%;
  .banner-text {
    color: #fafafa;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-home;
    line-height: 55px;
    /* or 104% */
  }
}
