$blob-height: 60%;
.services-body {
  width: 100vw !important;
  overflow: hidden;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .service-main {
    display: flex;
    flex-direction: column;
    z-index: 2;
    h1 {
      font-size: $font-size;
      letter-spacing: -2px;
    }
    p {
      line-height: 24px;
      width: 85%;
      margin-left: 1rem;
    }
    .service-illustration {
      height: 16rem;
      width: auto;
    }
  }
  .service-cards-section {
    z-index: 2;
    .cards-row {
      display: flex;
      justify-content: space-around;
      .cards-col {
        &.cards-col-2 {
          position: relative;
          top: 3rem;
        }
        .service-card {
          width: 100%;
          box-shadow: 0px 0px 0px rgba(16, 22, 26, 0.2),
            0px 2px 4px rgba(16, 22, 26, 0.4),
            0px 8px 24px rgba(16, 22, 26, 0.4) !important;
          border-radius: 11px !important;

          h4 {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}

.servicecard-image {
  height: 50%;
}
.services-blob-right {
  position: absolute;
  top: 0;
  right: 0;
  height: $blob-height;
  z-index: 1;
  // animation: blobRotate 35s linear infinite;
}
.services-blob-left {
  height: $blob-height;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  // animation: blobRotate 35s linear infinite;
}
@keyframes blobRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@media (min-width: 1040px) {
  .services-body {
    padding-left: 3rem !important;
    padding-right: 2rem !important;
    padding-top: 2rem !important;
    .service-main {
      p {
        font-size: 0.95rem;
        width: 80%;
      }
      .service-illustration {
        height: 14rem;
      }
    }
  }
}

@media (min-width: 768px) and(max-width: 1037px) {
  .service-card {
    width: 90% !important;
    margin: 0.5rem 0px;
  }
  .services-blob-left {
    height: $blob-height * 0.8;
  }
  .services-blob-right {
    height: $blob-height * 0.8;
  }
  .services-body {
    padding-left: 2rem;
    padding-right: 1rem;
    .service-main {
      p {
        position: relative;
        left: 0rem;
        font-size: 1rem;
        width: 90%;
      }
      .service-illustration {
        height: 12rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .cards-row {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
  }
  .services-blob-left {
    height: $blob-height * 0.6;
  }
  .services-blob-right {
    height: $blob-height * 0.6;
  }
  .services-body {
    padding-left: 1rem;
    padding-right: 0.75rem;
    padding-top: 1rem;
    .service-main {
      p {
        font-size: 0.95rem;
        width: 95%;
      }
      .service-illustration {
        display: none;
      }
    }

    .cards-col {
      display: flex;
      align-items: center;
      justify-content: center;
      &.cards-col-2 {
        position: relative;
        top: 3rem;
      }
      .service-card {
        width: 70% !important;
        h4 {
          font-size: 1rem;
        }
      }
    }
  }
}
