$primary: #fafafa;
$pink: #e94560;
$primary-dark: #1a1a2e;
$primary-light: #28283f;

.primary-bg {
  background-color: $primary-dark;
}

.primary-light-bg {
  background-color: $primary-light;
}

.text-pink {
  color: $pink;
}

.text-primary {
  color: $primary !important;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: "poppins", serif, sans-serif !important;
  box-sizing: border-box;
  overflow-y: hidden;
  background: $primary-dark !important;
}
body {
  background: $primary-dark !important;

  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: Poppins !important;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

@import "./../stylesheet/header";
@import "./../stylesheet/home";
@import "./../stylesheet/work";
@import "./../stylesheet/services";
@import "./../stylesheet/about";

@import "bootstrap/scss/bootstrap";
